.busTitulo{
    padding-top: 70px;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .navbar {
    background-color: black;
  }
  .textNav {
    color: white;
  }
  .home {
    text-align: center;
  }
  .button-container {
    margin-top: 10px;
  }
  
  .searchB {
    margin: 5px;
    background-color: black;
    border-color: black;
  }
  .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: rgba(255, 254, 254, 0.9);
    text-decoration: none;
    white-space: nowrap;
  }